<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Recipe Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/recipes"
                        *ngIf="isAuthenticated">Recipes</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class=" nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/auth" *ngIf="!isAuthenticated">Sign
                        Up/Login</a>
                </li>
                <li class="nav-item dropdown" appDropdown *ngIf="isAuthenticated">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
                        <li><a class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>