<div class="row">
    <div class="col-12">
        <img src={{recipe.imagePath}} alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Recipe Name: {{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group dropdown" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="onAddToShoppingList()">To Shopping
                        List</a></li>
                <li><a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
        <!-- <div class="dropdown open">
            <button class="btn btn-primary dropdown-toggle open" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item">Action</a></li>
                <li><a class="dropdown-item">Another action</a></li>
                <li><a class="dropdown-item">Something else here</a></li>
            </ul>
        </div> -->
    </div>
</div>
<div class="row">
    <div class="col-12">
        Description: {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item clearfix" *ngFor="let ingredient of recipe.ingredients">
                <div class="list-group-item-text">{{ingredient.name}} - {{ingredient.amount}}
                </div>
            </li>
        </ul>
    </div>
</div>